section{
    width: 90%;
    height: 500px;
    background-image: url(https://images.unsplash.com/photo-1547103106-9a0e718bb2d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1372&q=80);
    background-size: cover;
    background-position: bottom;
    margin:0 auto;
}
h1{
    color:white;
    font-size:100px;
}